.Navbar{
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    max-height: 15vh;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}