.profile-header{
    background-color: white;
    box-shadow: 0 0 3px 0;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5em;
    margin-right: 5em;
    max-height: 80vh;
}

.profile-header .profile-header-bg{
    width: 100%;
    height: 280px;
    background: url('../../../assets/Amanhã\ Eu\ Mudo-TwitchPromo..png') no-repeat;
    background-position: center;
    background-size: cover;
}
.profile-header .profile-header-info{

}
.profile-header .profile-header-info .user-header-description{

}

.user-header-description .user-header-numbs{

}

.numbs-grid{

}
.numbs-grid .numbs{

}
.numbs-grid .numbs .numbs-title, .numbs-sub{

}
.numbs-title{

}
.numbs-sub{

}