
.profile-header{
    background-color: white;
    box-shadow: 0 0 3px 0;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5em;
    margin-right: 5em;
    max-height: 80vh;
}

.profile-header .profile-header-bg{
    width: 100%;
    height: 280px;
    background: url('../../../assets/Amanhã\ Eu\ Mudo-TwitchPromo..png') no-repeat;
    background-position: center;
    background-size: cover;
}

.user-header-description{
    position: relative;
}

.user-header-numbs{
    padding-left: 10px;
    
}

.numbs-grid{
    display: grid;
    grid-template-columns: 60px 60px 60px 200px;
    grid-gap: 10px;
}
.numbs-grid .numbs{

}
.numbs-grid .numbs .numbs-title, .numbs-sub{

}
.numbs-title{

}
.numbs-sub{

}
.flags{
    display: grid;
    grid-template-columns: 100px 100px;
}
.flags a{
    margin-block-start: 1em;
}
.flag{
    margin-block-start: 1em;
}

.user-header-middle{
    width: 100%;
    height: 125px;
    position: relative;
    margin: 0 auto;
}

.user-header-xoxomidia{
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: 40px;
    grid-gap:12px;
    width: 352px;
    height: 44px;
    position: absolute;
    right: 0.4em;
    top: 1px;
}

.user-header-resume{
    position: absolute;
    top: 20px;
    background-color: transparent;
    right: 5em;
    width: 25vw;
    height: 280px;
}

.user-header-action{
    margin-top: 10px;
    width: 52px;
    height: 100%;
    right: 0px;
    position: absolute;
    display: block;
    justify-content: center;
}

.user-header-action-button{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.button-space{
    padding: 5px;
}
.user-header-action-button.first{
    background-color: teal;
}
.user-header-action-button.second{
    background-color: brown;
}