.Home-header{
    margin: 0 auto;
    padding: 0;
    width: 90vw;
    height: 100%;
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.Home-section{
    display: flex;
    margin: 0 auto;
    width: 80vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.Home-section:first-of-type{
    padding-top: 6rem;
}

.button-box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3vh;
    max-width: 70%;
}

.Home-section-secondary{
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 3rem;

    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-between;

}

.section-papers{
    display:grid;

    grid-template-columns: repeat(auto-fit,minmax(200px, 0.40fr));
    margin: 0 auto;
    padding: 0;

    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}