.WAsection{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #fff;
}

.leftImage{
    width: 45%;
    margin-right: 5vw;
    border-radius: 20px;
}

.rightImage{
    width: 45%;
    margin-left: 5vw;
    border-radius: 20px;
}

.WAsection div{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    left: 0;
}