*{
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
html, body{
  margin: 0;
  padding:0;
  background-color:#f8f8fb;
}
a {
  color:inherit;
}
.App {
  text-align: center;
  background-color:#f8f8fb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 1665px){

  .App-header{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    background-color: #5d8ffa;
    z-index: 10000;
  }
  .App-latNavbar{
    top:80px;
    width: 80px;
    height: 100%;
    position:fixed;
    background-color: white;
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .App-mainContent{
    max-width: 100%;
    padding: 112px 5em 200px;
    padding-right: 5em;
    justify-content: center;
    align-items: center;
  }
  .App-fullpage{
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .App-fullpage-content{
    width:100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }


}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
